<html>
<head>
	<link rel="icon" href="data:,">
	<link rel="stylesheet" href="./lib/treeview.css" />
<style>

#base_layout {
	display: flex;
	flex-direction: row;	/* 横並びに表示する */
	flex-wrap: nowrap;		/* 折り返えさない */
	width: 100%;
	height:100%;
}

#tag_list {
	position: relative;	/*相対配置*/
	border: 1px solid #999;
	overflow:auto;
	height: 100px;
}

#tag_checkList {
	display: flex;			/* この要素はflexコンテナとなり、子要素は自動的にflexアイテムとなる */
	flex-direction: row;	/* 横並びに表示する */
	flex-wrap: wrap;		/* 画面幅に収まらない場合は折り返す */
}


#video_area {
	flex: 1;
	display: flex;
	flex-direction: column;
	border: 1px solid #999;
}

#video_head_btn button{
	height:100%;
	vertical-align: top;
}

#video_area video{
	flex: 1;
	flex-shrink: 1;
	width:100%;
	height:100%;
	overflow:auto;
}

#vr_video{
	position: relative;	/*相対配置*/
	flex: 1;
	flex-shrink: 1;
	width:100%;
	height:100%;
	overflow:auto;
}

#vr_video_editor {
	position: absolute;
	width:99%;
	bottom: 2;
	left: 3;
	background: rgba(30, 30, 123, 0.7);
	margin: auto;
}

#vr_ed_time {
	color:#FFF;
}

#vr_ed_progress {
	position: relative;	/*相対配置*/
	width:100%;
}

#vr_ed_mute {
	/*
	position: absolute;
	text-align: right;
	*/
	display: inline-block;
	margin-left: auto;
}

#vr_video_editor button {
	background: transparent;
	border: none;
}


#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}


#play_menu {
	position: relative;	/*相対配置*/
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #999;
}

#play_point_loading {
	display: flex;
	text-align: center;
	width:100%;
	height:100%;
}

#play_point_loading img {
	margin: auto;
}


#tag_time_base {
  margin: 0;
  padding: 0;
}

.play_rect {
	position: relative;
}

.play_rect img {
	border-color: red;
	left:0;
}

.play_rect_time {
	position: absolute;
	bottom: 0;
	left: 3;
	background: rgba(30, 30, 123, 0.7);
	color: #FFF;
}



</style>
</head>
<body>
<script src="./lib/common.js" charset="UTF8"></script>
<script src="./lib/media_player.js" charset="UTF8"></script>
<script src="./lib/taglist.js" charset="UTF8"></script>
<script src="./lib/play_point.js" charset="UTF8"></script>
<script src="./babylon_6.31.0/babylon.js" charset="UTF8"></script>
<script src="./lib/vr.js" charset="UTF8"></script>


<script>
	var _playPoint = null;	// プレイポイント
	var _videoSwitcher = null; // 動画切り替え
	var _videoTagList = null; // タグリスト
	var _tagRemover = null;	// タグ削除ボタン

	
	// プレイポイントの更新リクエスト
	function RequestUpdatePlayPoint(updateQuery)
	{
		RequestJson("{{root_url}}video_update_play_point.custom_text?mt={{file_id}}" + updateQuery, (json)=>
		{
			_playPoint.update(json);
			_tagRemover.hide();	// 削除ボタンをoff
		});
	}


	// 動画を管理から外す
	function OnRemoveVideo()
	{
		window.location.href = './{{list_url}}?rv={{file_id}}';
	}


	// タグリスト初期値
	const initJsonStr = `{{initTagString}}`;


	// サムネイル更新
	function UpdateThumbnail()
	{
		const video = _videoSwitcher.getCurrentVideo();
		callHtml("{{root_url}}video_update.custom_text?mt={{file_id}}&tht=" + video.currentTime);
	}


	// プレイポイントのセットアップ
	function SetupPlayPoint()
	{
		var playPoint = new PlayPoint();
		playPoint.setTarget("play_menu", "video");

		// プレイポイント選択時
		 playPoint.onSelect = (elem, currentTime) => {
			var name = elem.getAttribute("tag_name");
			var dispTime = elem.getAttribute("play_disp");
			// タグ削除ボタン更新
			_tagRemover.setInfo("rl", "{{tw_RemoveTag}}[" + name + "/" + dispTime+ "]", elem.id);
		};

		// タグ開閉時
		 playPoint.onChangeTagNode = (nodeElem) => {
			// タグ全体を削除
			_tagRemover.setInfo("rla","{{tw_delAll}}[" + nodeElem.textContent+ "]", nodeElem.id);
		};

		return playPoint;
	}

	// タグリストセットアップ
	function SetupTagList() {
		var tagList = new VideoTagList();
		tagList.setup("tag_checkList", "tag_text");
		// タグクリック時
		tagList.onClickTag = (elem) => {
			// プレイポイント追加
			const video = _videoSwitcher.getCurrentVideo();
			RequestUpdatePlayPoint("&t=" + elem.id + "&ti=" + video.currentTime);
		};

		return tagList;
	}

	function SetupTagRemover() {
		var tagRemover = new TagRemover();
		tagRemover.setup("tag_remove");
		tagRemover.onClick = (opCode, removeId) => {
			RequestUpdatePlayPoint("&"+opCode+"=" + removeId);
		};

		return tagRemover;
	}




	// 自前動画操作
	class CustomVideoControl {
		_video = null;
		_timeElem = null; // 再生時間表示
		_progressElem = null; // シークバー
		_progressMoving = false; // シークバー操作中
		_videoPlayedState = false; // シークバーが操作される前に動画が再生状態だったか
		_volumeElem = null;
		_muteElem = null;
		_isMute = false; // ミュート中か否か
		_lastMuteVolume = 0; // ミュートが押された時のボリューム
		_speedBarElem = null; 
		_cameraFov = null;

		_bbRender = null; // 3Dレンダラ
		_iconPlay = null;
		_iconPause = null;
		_iconSound = null;
		_iconSoundMute = null;


		// 秒を00:00:00の表記に変換
		static getDispTime(time)
		{
			const totalSec = Math.floor(time);
			const sec = totalSec % 60; // 秒
			const min = Math.floor(totalSec / 60) % 60; // 分
			const hour = Math.floor(totalSec / 3600); // 分

			return hour.toString().padStart( 2, '0') + ":" + 
					min.toString().padStart( 2, '0') + ":" + 
					sec.toString().padStart( 2, '0');
		}



		// ポーズなら再生アイコン、再生中なら停止アイコンを表示
		#showPlayIcon(isPause) {
			this._iconPlay.style.display = (isPause) ? "block" : "none";
			this._iconPause.style.display = (isPause) ? "none" : "block";
		}


		// ビデオの状態から表示を更新
		updateVideoInfo()
		{
			if (this._video != null) {
				this._volumeElem.value = this._video.volume * 100;	// ボリューム設定
				this.#showPlayIcon(this._video.paused);
			}
		}

		setup(setObj)
		{
			this._video = setObj.videoElem;
			
			this._timeElem = document.getElementById(setObj.timeIdName);
			this._progressElem = document.getElementById(setObj.progressIdName);
			this._volumeElem = document.getElementById(setObj.volumeIdName);
			this._muteElem = document.getElementById(setObj.muteIdName);
			this._iconPlay = document.getElementById(setObj.playImageIdName); // 再生アイコン
			this._iconPause= document.getElementById(setObj.pauseImageIdName); // 停止アイコン
			this._iconSound = document.getElementById(setObj.soundImageIdName); // 再生アイコン
			this._iconSoundMute= document.getElementById(setObj.muteImageIdName); // 停止アイコン
			this._speedBarElem= document.getElementById(setObj.speedBarIdName); // スピードバー

			this._bbRender = setObj.bbRender;

			// コントローラーの表示on/off
			var editor = document.getElementById(setObj.editorIdName);
			editor.onmouseenter = (elem) => {
				elem.target.style.opacity  = 1;
			}
			editor.onmouseleave = (elem) => {
				// 非表示にするのは再生中の時だけ
				if (!this._video.paused) {
					elem.target.style.opacity  = 0.0;
				}
			}


			// カメラの距離スライダー
			this._cameraFov = document.getElementById(setObj.cameraBarIdName);
			this._cameraFov.oninput = (elem) => {
				console.log("camera : " + elem.target.value * 0.01);
				this._bbRender.setFovMultiplier(elem.target.value * 0.01);
			}
			// カメラの距離をデフォルトに戻す
			document.getElementById(setObj.cameraResetIdName).onclick = ()=> {
				this._bbRender.setFovMultiplier(1.0);
				this._cameraFov.value = 100;
			};


			// 再生速度リセット
			document.getElementById(setObj.speedResetIdName).onclick = (elem) => {
				this._video.playbackRate = 1.0;
				this._speedBarElem.value = this._video.playbackRate * 100;
			}

			// ビデオの状態から表示を更新
			this.updateVideoInfo();


			// 再生のon/off
			document.getElementById(setObj.play).onclick = (elem) => {
				var target = elem.target;
				if (this._video.paused)	{
					this._video.play();
				} else {
					this._video.pause();
				}
			};

			this._video.onplay = () =>{
				this.#showPlayIcon(false);
			}

			this._video.onpause = () =>{
				this.#showPlayIcon(true);
			}

			// 動画の再生時間変更
			this._video.ontimeupdate = ()=>{
				this._timeElem.textContent
							 = CustomVideoControl.getDispTime(this._video.currentTime) + " / " +
								CustomVideoControl.getDispTime(this._video.duration);

				// シークバーを動かしていない場合は設定
				if (!this._progressMoving) {
					this._progressElem.max = this._video.duration * 10;	// 0.1秒単位
					this._progressElem.value = this._video.currentTime * 10;
				}
			}

			this._video.onvolumechange = ()=>{
				// 音量によってアイコン表示を変更
				if (this._video.volume > 0.0) {
					this._iconSoundMute.style.display = "none";
					this._iconSound.style.display = "block";
				} else {
					this._iconSound.style.display = "none";
					this._iconSoundMute.style.display = "block";
				}
			}


			// スピードバー変更時
			this._speedBarElem.oninput = ()=>{
				this._video.playbackRate = this._speedBarElem.value * 0.01;
			}

			// シークバー移動中
			this._progressElem.oninput = () => {
				// シークバー動かし始め奈良
				if (!this._progressMoving) {
					this._videoPlayedState = !this._video.paused; // 直前の再生状態を保存
					this._video.pause();
					this._progressMoving = true;
				}
				this._video.currentTime = this._progressElem.value * 0.1;
			}
			// シークバー移動終了時
			this._progressElem.onchange = () => {
				this._progressMoving = false;
				if (this._videoPlayedState)	{
					this._video.play();
				}
			}

			// ミュートボタン
			this._muteElem.onclick = () => {
				// ミュートだった
				if (this._isMute) {
					this._video.volume = this._lastMuteVolum; // ボリューム復帰
				// ミュートでなかった
				} else {
					this._lastMuteVolum = this._video.volume; // ボリュームの保存
					this._video.volume = 0.0;
				}

				this._volumeElem.value = this._video.volume * 100;	// ボリュームバーを更新
				this._isMute = !this._isMute; // ミュート状態を切り替え
			}


			// ボリューム
			this._volumeElem.oninput = () => {
				this._video.volume = this._volumeElem.value * 0.01;

				// ボリュームが更新されたならミュート状態会場
				if (this._video.volume > 0.0) {
					this._isMute = false;
				}
			};
		}
	}




	/*
		動画切り替え
	*/
	class VideoSwitcher	{
		_normal = true; // 通常動画
		_normalElem = null;
		_vrElem = null;
		_bbRender = null; // VR用レンダラ
		_playPoint = null;
		_customVideoControl = null; // VR動画用コントローラ

		// 現在の操作対象動画を取得
		getCurrentVideo()
		{
			if (this._normal) {
				return this._normalElem;
			}

			if (this._bbRender != null) {
				return this._bbRender.getVideoElem();
			}
			return null;
		}


		// セットアップ
		setup(normalName, vrName, playPoint) {
			this._normalElem = document.getElementById(normalName);
			SetupKeepVolume(this._normalElem); //ボリューム保存セットアップ

			this._vrElem = document.getElementById(vrName);
			this._vrElem.onwheel = () =>{}; // マウスホイールイベントを握りつぶす
			this._playPoint = playPoint; // プレイポイント
			this.#updateShow();

			this.#setupUI();
		}



		// 選択中のものを取得
		static getSelectString(elemName)
		{
			const target = document.getElementById(elemName);
			var selects = target.selectedOptions
			var result = { disp : "" , serverId : "0" }

			if (selects.length > 0)
			{
				result.disp = selects[0].value;
				result.serverId = selects[0].getAttribute("serverId");
			}
			return result;
		}

		// VRの設定更新
		#updateHalf()
		{
			const select = VideoSwitcher.getSelectString("videoHalf");
			this._bbRender.setHalf(select.disp == "180");
			return select.serverId;
		}

		// VRのソース設定更新
		#updateVideoMode()
		{
			const select = VideoSwitcher.getSelectString("videoMode");
			this._bbRender.setVideoModeFromString(select.disp);
			return select.serverId;
		}

		// UIセットアップ
		#setupUI()
		{
			// 180 or 360
			document.getElementById("videoHalf").onchange = () => {
				const serverId = this.#updateHalf();
				// 保存用ServerIdをサーバに送る
				callHtml("{{root_url}}video_update.custom_text?meId={{media_id}}&vr_half=" + serverId);
			}
			// texture mode
			document.getElementById("videoMode").onchange = () => {
				const serverId = this.#updateVideoMode();
				// 保存用ServerIdをサーバに送る
				callHtml("{{root_url}}video_update.custom_text?meId={{media_id}}&vr_mode=" + serverId);
			};
		}


		#updateShow()
		{
			if (this._normal)
			{
				document.getElementById("vr_edit").style.display = "none";
				this._normalElem.style.display = "block";
				this._vrElem.style.display = "none";
				if (this._bbRender != null)
				{
					this._bbRender.getVideoElem().pause();
				}
				PullVolume(this._normalElem);
				this._playPoint.setControlVideo(this._normalElem);
			}
			else
			{
				document.getElementById("vr_edit").style.display = "inline";
				this._vrElem.style.display = "block";
				this.#setupVr();
				this._normalElem.style.display = "none";
				this._normalElem.pause();

				if (this._bbRender != null) {
					var video = this._bbRender.getVideoElem();
					if (video != null) {
						PullVolume(video);
						this._playPoint.setControlVideo(video);
					}

					if (this._customVideoControl != null) {
						this._customVideoControl.updateVideoInfo();
					}
				}
			}
		}

		#setupVr()
		{
			if (this._bbRender == null)
			{
				this._bbRender = new BBRender();
				this._bbRender.setup("renderCanvas", (render)=> {
					this._bbRender.play("{{file_id}}.custom_video");
					this.#updateHalf();					// 動画の状態を現在のものに更新
					this.#updateVideoMode();			// 動画の状態を現在のものに更新
					SetupKeepVolume(this._bbRender.getVideoElem()); //ボリューム保存セットアップ
					this._playPoint.setControlVideo(this._bbRender.getVideoElem());

					this._customVideoControl = new CustomVideoControl();
					this._customVideoControl.setup({
						bbRender : this._bbRender,
						videoElem : this._bbRender.getVideoElem(),
						editorIdName : "vr_video_editor", // ベース位置
						play : "vr_ed_play_stop",
						timeIdName : "vr_ed_time",
						progressIdName : "vr_ed_progress", // シークバー
						volumeIdName : "vr_ed_volume", // ボリュームシークバー
						muteIdName : "vr_ed_mute",	// ミュートボタン
						playImageIdName : "vr_ed_img_play", // 再生アイコン
						pauseImageIdName : "vr_ed_img_pause", // 停止アイコン
						soundImageIdName : "vr_ed_img_sound", // 音ありアイコン
						muteImageIdName : "vr_ed_img_mute",	// ミュートアイコン

						speedBarIdName : "vr_ed_speed",		// スピードスライダー
						speedResetIdName :"vr_ed_speed_reset",	// スピード初期値ボタン

						cameraBarIdName : "vr_ed_camera",
						cameraResetIdName : "vr_ed_camera_reset"
					});
				});
			}
		}

		// 表示変更
		toggle() {
			this._normal = !this._normal;
			this.#updateShow();
		}
	}


	// VR動画と切り替え
	function ToggleVrMode()
	{
		_videoSwitcher.toggle();
		var toggleValue = _videoSwitcher._normal ? 0 : 1; 
		callHtml("{{root_url}}video_update.custom_text?meId={{media_id}}&vr_toggle=" + toggleValue);
	}

	document.addEventListener('DOMContentLoaded', function() 
	{
		_playPoint = SetupPlayPoint(); // プレイポイントのセットアップ
		_videoTagList = SetupTagList(); // タグリストのセットアップ

		_videoSwitcher = new VideoSwitcher();	// 動画切り替え
		_videoSwitcher.setup("video", "vr_video", _playPoint);

		_videoTagList.update(JSON.parse(initJsonStr)); // タグリスト更新

		_tagRemover = SetupTagRemover();	// プレイポイント削除ボタン

		// 動画を管理から外す際の確認
		SetupConfirm("remove_video", "{{tw_RemoveMediaConfirm}}", OnRemoveVideo);

		// プレイポイントの更新リクエスト
		// 初回は処理が重いのでページ遷移してからリクエストかける。
		RequestUpdatePlayPoint("");

		// 動画タイプを見てVR動画にするか判定
		{% if media_type != "0" %}
			ToggleVrMode();
		{% endif %}

	}, false);

</script>
<title>Tag Video Manager</title>

<!-- ベース -->
<div id="base_layout">

<!-- 動画 -->
<div id="video_area" >
	<div id="video_head_btn">
		<button onclick="UpdateThumbnail()">{{tw_setThumbnail}}<!--サムネイルに設定--></button>
		<button onclick="ToggleVrMode()">{{tw_toggleVr}}切り替え<!--VRモードに切り替え--></button>
		<span id="vr_edit">
			<select id="videoHalf">
				<option serverId="180" value='180' {% if vr_dome == "180" %}selected {% endif %}>180</option>
				<option serverId="360" value="360" {% if vr_dome == "360" %}selected {% endif %}>360</option>
			</select>
			<select id="videoMode">
				<option serverId="0" value='MODE_MONOSCOPIC' {% if vr_source_type == "0" %}selected {% endif %}>全画面</option>
				<option serverId="1" value='MODE_SIDEBYSIDE' {% if vr_source_type == "1" %}selected {% endif %}>左右分割</option>
				<option serverId="2" value='MODE_TOPBOTTOM' {% if vr_source_type == "2" %}selected {% endif %}>上下分割</option>
			</select>
			<button id="urlCode">URL</button>
		</span>

		<button onclick="callHtml('{{root_url}}{{file_id}}.direct_open')">{{file_path}}</button>
	</div>

	<!-- 通常動画用 -->
	<video id="video" type="video/mp4" controls autoplay playsinline>
		<source class="video_source" src="{{file_id}}.custom_video" type="video/mp4">
		<source class="video_source" src="{{file_id}}.direct_video" type="video/mp4">
	</video>

	<!-- VR 動画用 -->
	<div id="vr_video">
		<canvas id="renderCanvas"><!--VR動画用エリア--></canvas>
		<div id="vr_video_editor">
			<button id="vr_ed_play_stop"><img src="./icon/icon_play.png" id="vr_ed_img_play" /><img src="./icon/icon_pause.png" id="vr_ed_img_pause" /></button>
			<label id="vr_ed_time">0:00/99:99</label>
			<input type="range" id="vr_ed_volume" min="0" max="100" step="1"><button id="vr_ed_mute"><img src="./icon/icon_sound.png" id="vr_ed_img_sound" /><img src="./icon/icon_sound_mute.png" id="vr_ed_img_mute" /></button>
			<input type="range" id="vr_ed_speed" min="0" max="500" value="100" step="1"><button id="vr_ed_speed_reset"><img src="./icon/icon_timer.png" /></button>
			<input type="range" id="vr_ed_camera" style="display:none;" min="0" max="200" value="100" step="1"><button id="vr_ed_camera_reset"><!-- <img src="./icon/icon_camera.png" /> --></button><br>
			<input type="range" id="vr_ed_progress" min="0" max="500" step="1">
		</div>
	</div>

	<!-- タグ登録ボタン -->
	<div id="tag_list">
		<input type="text" id="tag_text" ><button id="tag_add">{{tw_AddTag}}<!--タグの追加--></button><br><br>
		<div id="tag_checkList"><!-- ここにタグリスト展開 --></div>
	</div>
</div>

<!-- 途中再生 -->
<div id="play_menu">
	<!-- プレイポイントを展開 -->
	<div id="play_point_loading"><img src="./icon/loading-l-5.gif" /></div>
</div>
</div>

<br>
<button id="tag_remove"><!-- 削除ボタン --></button><br>
<button id ="remove_video" >{{tw_RemoveMedia}}<!--この動画を管理から外す--></button>
</body>
</html>
